.table-striped {
    text-align: center;
    color: black;
}

.table-striped>tbody>tr:nth-child(odd)>td, 
.table-striped>tbody>tr:nth-child(odd)>th {
   /* background-color: #5592B1; */
   background-color: #8ED1F7;
 }

.table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   /* background-color: #5592B1; */
   background-color: #5592B1;
 }

 .table-striped>thead>tr>th {
    background-color: #5592B1;
    color: black;
    font-weight: bold;
 }

 .cityButton{
    background: none!important;
    border: none;
    padding: 0!important;
    /*optional*/
    font-family: arial, sans-serif;
    /*input has OS specific font-family*/
    color: #069;
    text-decoration: underline;
    cursor: pointer;

 }
